ion-item{
    --color: #000000;
    --margin: auto;
    --border: none;
    --cursor: pointer;
}
ion-button{
--background: #043150;
--color: #ffffff;
--margin: auto;
--border: none;
--cursor: pointer;
}
ion-content {--background:#307ad5;}