<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        Keranjang Belanja
    </ion-title>
  </ion-toolbar>
 </ion-header>
<ion-content padding>
  <div class="content">
    <div class="artikel">
      <div class="img">
        <img src="../../assets/nikah.jpg">
      </div>
      <h3> FOTO PERNIKAHAN </h3>
    <ion-button color="danger">Booking Now</ion-button>
    <ion-button color="primary">Rp. 1.500.000 </ion-button> 
    <ion-button color="secondary">Cara Pemesanan </ion-button>
    </div>

    <div class="artikel">
        <div class="img">
          <img src="../../assets/ultahh.jpg" class="src">
        </div>
        <h3> FOTO ULTAH </h3>
        <ion-button color="danger">Booking Now</ion-button>
        <ion-button color="primary">Rp. 750.000 </ion-button> 
        <ion-button color="secondary">Cara Pemesanan </ion-button>
      </div>

      <div class="artikel">
        <div class="img">
          <img src="../../assets/nikah.jpg">
        </div>
        <h3> FOTO KELUARGA </h3>
      <ion-button color="danger">Booking Now</ion-button>
      <ion-button color="primary">Rp. 400.000 </ion-button> 
      <ion-button color="secondary">Cara Pemesanan </ion-button>
      </div>

      <div class="artikel">
          <div class="img">
            <img src="../../assets/wisuda.jpg"  class="src">
          </div>
          <h3> FOTO WISUDA </h3>
          <ion-button color="danger">Booking Now</ion-button>
          <ion-button color="primary">Rp. 350.000 </ion-button> 
          <ion-button color="secondary">Cara Pemesanan </ion-button>
        </div>

        <div class="artikel">
          <div class="img">
            <img src="../../assets/figura.jpg">
          </div>
          <h3> PAKET CETAK 10R + FIGURA </h3>
        <ion-button color="danger">Booking Now</ion-button>
        <ion-button color="primary">Rp. 25.000 </ion-button>
        <ion-button color="secondary">Cara Pemesanan </ion-button> 
        </div>

        <div class="artikel">
          <div class="img">
            <img src="../../assets/figura.jpg">
          </div>
          <h3> PAKET CETAK 12R + FIGURA </h3>
        <ion-button color="danger">Booking Now</ion-button>
        <ion-button color="primary">Rp. 80.000 </ion-button> 
        <ion-button color="secondary">Cara Pemesanan </ion-button>
        </div>
        
        <div class="artikel">
          <div class="img">
            <img src="../../assets/figura.jpg">
          </div>
          <h3> PAKET CETAK 16R + FIGURA </h3>
        <ion-button color="danger">Booking Now</ion-button>
        <ion-button color="primary">Rp. 240.000 </ion-button> 
        </div>
    
  </div>  
</ion-content>
