<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Galery & Others
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="welcome-card">
        <ion-card-header>
        <!----ion-card-subtitle></ion-card-subtitle-->
          <ion-card-title text-center>FOTO EVENT</ion-card-title>
        </ion-card-header>      
        <ion-card-content>
          <p> Foto Pernikahan</p>
          <p> Foto Ulang Tahun</p>
          <p> Foto Wisuda</p>
          <p> Foto Acara Formal</p>
          <p> Foto Keluarga</p> 
          <p> dll. </p>
        </ion-card-content>
      </ion-card>
      <ion-card class="welcome-card">
          <ion-card-header>
          <!----ion-card-subtitle></ion-card-subtitle-->
            <ion-card-title text-center >CETAK FOTO </ion-card-title>
          </ion-card-header>      
          <ion-card-content>
            <p> melalui WA</p>
            <p> melalui E-mail</p>
            <p> melalui CD </p>
            <p> melalui Flashdisk</p>
            <p> dll. </p>
          </ion-card-content>
        </ion-card>
        <ion-card class="welcome-card">
            <ion-card-header>
            <!----ion-card-subtitle></ion-card-subtitle-->
              <ion-card-title text-center> Others </ion-card-title>
            </ion-card-header>      
            <ion-card-content>
              <p> Figura 4R, 10R, 12R, 16R, 20R</p>
              <p> Album Magnetic, Plastik, dll</p>
            </ion-card-content>
          </ion-card>
</ion-content>
