<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
    <ion-content>
      <ion-card class="welcome-card">
        <ion-card-header>
        <!----ion-card-subtitle></ion-card-subtitle-->
          <ion-card-title>Selamat Datang di Foto Intan Studio</ion-card-title>
        </ion-card-header>      
        <ion-card-content>
          <p>
              setiap moment pasti selalu berharga. abadikan setiap momentmu di Foto Intan layanan digital harga terjangkau dan sesuai keinginan konsumen </p>
        </ion-card-content>
      </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label > <h2> <b>Jl Lamper Tengah Gang IX RT 02 RW 01</b> <br> </h2>
                    <h4> Kelurahan. Lamper Tengah - Kecamatan. Semarang Selatan -  Kota Semarang </h4>
        </ion-label>
    </ion-list-header>
    <ion-list-header>
        <ion-label> <h1><b>JAM KERJA</b> <br> </h1>
                    <h4> PAGI : 08.00 - 13.00 </h4>
                    <h4> SORE : 16.00 - 21.00 </h4>
        </ion-label>
    </ion-list-header>
    <!----  <ion-item href='/list'>
        <ion-icon slot="start" color="red" name="camera"></ion-icon>
        <ion-label>Jasa Foto</ion-label>
      </ion-item>
      <ion-item href='/list'>
        <ion-icon slot="start" color="medium" name="images"></ion-icon>
        <ion-label>Cetak foto</ion-label>
      </ion-item>
      <ion-item href='/list'>
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Album Foto</ion-label>
      </ion-item>
      <ion-item href='/list'>
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Figura</ion-label>
      </ion-item>-->
      <ion-card class="welcome-card">
          <ion-card-header>
          <!----ion-card-subtitle></ion-card-subtitle-->
            <ion-card-title>P R O M O !!!</ion-card-title>
          </ion-card-header>      
          <ion-card-content>
            <p> setiap momen pernikahan dan dibuat tipe book story hanya Rp. 1.500.000,-</p>
          </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>